.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  background-image: url("../../assets/background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -10;
  height: 100vh;
  width: 100%;
}

.img{
  width: 50vh;
  height: auto;
}

.heading{
  font-family: 'binaria-bold';
  font-size: 50px;
  color: white;
}

.error{
  color: white;
  font-family: 'binaria-bold';
  font-size: 25px;
}

.button {
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--primary);
  font-family: 'binaria-medium';
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.button:hover{
  transform: scale(1.05);
}
.button:active{
  transform: scale(1.025);
}

.main-div{
  height: 100vh;
}

@media screen and (max-width: 599px) {

  .main-div {
    padding: 15vh 3vh 0vh 3vh;
  }

  .img{
    width: 20vh;
    height: auto;
  }
}

