<!-- Large Screen -->
<div class="background" fxShow="true" fxShow.lt-sm="false"></div>
<!-- Small Screen -->
<div class="small-background" fxShow="true" fxShow.gt-xs="false"></div>


<div fxLayoutAlign="center center" fxLayout="column" class="main-div" fxLayoutGap="10px">
  <img src="../../assets/lab-logo.png" alt="" class="img">
  <p class="heading">Oops!</p>
  <p class="error"><span style="color: var(--primary);">404</span> - PAGE NOT FOUND</p>
  <p class="button" routerLink="/launchpad">GO BACK</p>
</div>
