
<!-- large screen sizes -->

<div
  class="main-div"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="15px"
  fxShow="true" fxShow.lt-sm="false"
>
  <p class="title">Laboratory</p>

  <div
    class="links"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="40px"

  >
    <p class="link" routerLink="/launchpad">Launchpad</p>
    <p class="sm-link"><a href="https://dex.thelaboratory.farm">Exchange</a></p>
    <p class="link"><a href="https://thelaboratory.farm/NFTStaking">NFT Staking</a></p>
    <p class="link"><a href="https://thelaboratory.farm/TokenStaking">Token Staking</a></p>
    <p class="link" routerLink="/login">Login</p>
    <p class="link button" (click)="onConnectWallet()">{{account ? (account | shorten: 10) : 'Connect Wallet'}}</p>
  </div>

</div>

<!-- small screen sizes -->

<div fxShow="true" fxShow.gt-xs="false" class="small-main-div">
  <div fxLayout="row" class="small-heading" fxLayoutAlign="center center">
    <p>Laboratory</p>
    <mat-icon class="menu-icon" (click)="onMenuClicked()">{{menuIcon}}</mat-icon>
  </div>

  <div class="menu-div" *ngIf="menuClicked" fxLayoutAlign="center center">
    <div class="menu-links" fxLayoutGap="20px" fxLayout="column">
      <p class="sm-link" routerLink="/launchpad" (click)="onMenuClicked()">Launchpad</p>
      <p class="sm-link" (click)="onMenuClicked()"><a href="https://dex.thelaboratory.farm">Exchange</a></p>
      <p class="sm-link" (click)="onMenuClicked()"><a href="https://thelaboratory.farm/NFTStaking">NFT Staking</a></p>
      <p class="sm-link" (click)="onMenuClicked()"><a href="https://thelaboratory.farm/TokenStaking">Token Staking</a></p>
      <p class="link" routerLink="/login">Login</p>

      <p class="sm-link sm-button" (click)="onConnectWallet()">{{account ? (account | shorten: 10) : 'Connect Wallet'}}</p>
    </div>
  </div>

</div>
