<!-- Large Screen -->
<div class="background" fxShow="true" fxShow.lt-sm="false"></div>
<!-- Small Screen -->
<div class="small-background" fxShow="true" fxShow.gt-xs="false"></div>

<div class="main-div">
  <div
    class="header-div"
    fxLayout.lt-sm="column"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="start end"
    fxLayoutGap.lt-sm="20px"
  >
    <div class="left-div" fxLayoutGap="25px" fxLayout="column">
      <p class="header-title">Laboratory Launchpad</p>
      <p class="header-sub-title">
        Get access to new tokens before they list on decentralized exchanges
      </p>
      <p class="apply-button" (click)="onApplyNow()">Apply Now</p>
    </div>
    <div class="right-div">
      <p class="right-header-text">
        Launching only the top tier projects on
        <span style="color: var(--primary)">Cronos</span>
      </p>
    </div>
  </div>


  <div class="loader" *ngIf="isLoading" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>

  <div
    class="main-ido-div"
    fxLayoutAlign.lt-sm="start center"
    fxLayout="column"
    *ngIf="!isLoading"
  >
    <!-- active ido -->
    <div class="ido-div">
      <div class="ido-heading">
        <p>Active <span style="color: var(--primary)">IDO</span></p>
      </div>
      <div
        class="ido-items"
        fxLayout="row wrap"
        fxLayoutAlign.gt-xs="center center"
      >
        <div
          class="item-container"
          *ngFor="let active of activeSales; let i = index"
        >
          <div class="ido-item">
            <div class="ido-item">
              <div class="item-header">
                <div class="top-text">
                  <p class="ido-status">IDO Active</p>
                  <p class="top-sub-text">
                    {{ active.startDate.toDate() | date: "shortDate" }}
                    <span style="color: gray">to </span
                    >{{
                      active.startDate
                        .toDate()
                        .setDate(
                          active.startDate.toDate().getDate() + +active.duration
                        ) | date: "shortDate"
                    }}
                  </p>
                </div>

                <div class="middle-items">
                  <img [src]="active.logoUrl" class="item-img" />
                  <p>{{ active.projectName + " " + active.tokenSymbol }}</p>
                  <p style="margin-top: 5px">{{ active.tokenSymbol }}/CRO</p>
                </div>
              </div>
              <div
                class="item-content"
                fxLayout="row"
                fxLayoutAlign="space-around center"
              >
                <div class="content-left">
                  <p class="cro-value">Total Raised</p>
                  <p style="margin-bottom: 10px">50,000 CRO</p>
                  <p class="participate-text" [routerLink]="[active.id]">Participate</p>
                </div>

                <div class="content-right">
                  <p class="cro-value">Hardcap</p>
                  <p style="margin-bottom: 10px">
                    {{
                      (+active.tokenSupply / +active.salePrice).toFixed(2)
                    }}
                    CRO
                  </p>
                  <p class="details-text" (click)="onShowActiveDetails(i)">Details</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- active ido -->

    <!-- upcoming ido -->
    <div class="ido-div">
      <div class="ido-heading">
        <p>Upcoming <span style="color: var(--primary)">IDO</span></p>
      </div>
      <div
        class="ido-items"
        fxLayout="row wrap"
        fxLayoutAlign.gt-xs="center center"
      >
        <div
          class="item-container"
          *ngFor="let upcoming of upcomingSales; let i = index"
        >
          <div class="ido-item">
            <div class="ido-item">
              <div class="item-header">
                <div class="top-text">
                  <p class="ido-status upcoming-ido">IDO Upcoming</p>
                  <p class="top-sub-text">
                    {{ upcoming.startDate.toDate() | date: "shortDate" }}
                    <span style="color: gray">to </span>
                    {{
                      upcoming.startDate
                        .toDate()
                        .setDate(
                          upcoming.startDate.toDate().getDate() +
                            +upcoming.duration
                        ) | date: "shortDate"
                    }}
                  </p>
                </div>

                <div class="middle-items">
                  <img [src]="upcoming.logoUrl" class="item-img" />
                  <p>{{ upcoming.projectName + " " + upcoming.tokenSymbol }}</p>
                  <p style="margin-top: 5px">{{ upcoming.tokenSymbol }}/CRO</p>
                </div>
              </div>
              <div
                class="item-content"
                fxLayout="row"
                fxLayoutAlign="center center"
              >

                <div class="content-right" style="text-align: center !important;">
                  <p class="cro-value" style="text-align: center !important;">Hardcap</p>
                  <p style="margin-bottom: 10px; text-align: center !important;">
                    {{
                      (+upcoming.tokenSupply / +upcoming.salePrice).toFixed(2)
                    }}
                    CRO
                  </p>
                  <p class="details-text" (click)="onShowUpcomingDetails(i)" style="text-align: center !important;">Details</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- upcoming ido -->

    <!-- completed ido -->
    <div class="ido-div">
      <div class="ido-heading">
        <p>Completed <span style="color: var(--primary)">IDO</span></p>
      </div>
      <div
        class="ido-items"
        fxLayout="row wrap"
        fxLayoutAlign.gt-xs="center center"
      >
        <div
          class="item-container"
          style="opacity: 0.5"
          *ngFor="let completed of completedSales; let i = index"
        >
          <div class="ido-item">
            <div class="ido-item">
              <div class="item-header">
                <div class="top-text">
                  <p class="ido-status upcoming-ido">IDO Completed</p>
                  <p class="top-sub-text">
                    {{ completed.startDate.toDate() | date: "shortDate" }}
                    <span style="color: gray">to </span>
                    {{
                      completed.startDate
                        .toDate()
                        .setDate(
                          completed.startDate.toDate().getDate() +
                            +completed.duration
                        ) | date: "shortDate"
                    }}
                  </p>
                </div>

                <div class="middle-items">
                  <img [src]="completed.logoUrl" class="item-img" />
                  <p>
                    {{ completed.projectName + " " + completed.tokenSymbol }}
                  </p>
                  <p style="margin-top: 5px">{{ completed.tokenSymbol }}/CRO</p>
                </div>
              </div>
              <div
                class="item-content"
                fxLayout="row"
                fxLayoutAlign="space-around center"
              >
                <div class="content-left">
                  <p class="cro-value">Total Raised</p>
                  <p style="margin-bottom: 10px">50,000 CRO</p>
                  <p class="participate-text" *ngIf="completed.status == 'active'">Participate</p>
                </div>

                <div class="content-right">
                  <p class="cro-value">Hardcap</p>
                  <p style="margin-bottom: 10px">
                    {{
                      (+completed.tokenSupply / +completed.salePrice).toFixed(2)
                    }}
                    CRO
                  </p>
                  <p class="details-text" (click)="onShowCompletedDetails(i)">Details</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- completed ido -->
  </div>
</div>
