.main-div{
  color: white;
  font-family: 'binaria-medium';
}

.contents{
  margin: 3vh 5vh;
  background-color: #ffffffd8;
  padding: 3vh;
  border-radius: 10px;
  border: 2px solid rgba(14, 143, 70, 0.466);
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary);
}

button{
  width: 150px !important;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: 'binaria-bold';
}

p{
  margin-left: 2vh;

}

.form{
  width: 30vh;

}

input {
  color: black;
}

.checkbox{
  color: rgb(107, 107, 107);
}

.lab-loading{
  width: 10vh;
  height: auto;
  animation: lab 3s infinite;
  margin: -40px;
  padding: -40px;

}

@keyframes lab {
  0%{
    transform: rotate(10deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
  }
}


@media screen and (max-width: 599px) {
  .contents{
    margin: 0;
    background-color: #ffffffc4;
    padding: 10px 0;
  }
  .form{
    width: 25vh;
    margin-top: -20px;
  }

  .contents{
    margin-bottom: 3vh;
  }

  .heading{
    margin-bottom: 3vh;
  }

  .main-div{
    height: 80vh;
  }

  button{
    margin-bottom: 3vh;
  }
  .sub-div{
    margin: 3vh 0;
  }
}
